{% extends 'base.html' %}

{% block body %}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    {% for crumb in breadcrumb %}
        <li {% if forloop.last %}class="active"{% endif %}>{{ crumb }}</li>
    {% endfor %}
</ol><!-- .breadcrumb -->
<div class="page-header">
    <h2>Courses <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#createCourseModal">Create Course</button></h2>
</div><!-- .page-header -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-2">ID</div>
            <div class="col-xs-5">Course Name</div>
            <div class="col-xs-2">Enrolled</div>
            <div class="col-xs-2">Pending</div>
        </div><!-- .row -->
    </div><!-- .panel-heading -->
    <div class="list-group course-list">
        {% for course in courses %}
            <div class="list-group-item course" id="course-{{ course.course_id }}">
                <div class="row">
                    <div class="col-xs-2 attr-course-id">
                        <div>{{ course.course_id }}</div>
                    </div><!-- .attr-course-id -->
                    <div class="col-xs-5 attr-course-name">
                        <a href="{{ course.course_url }}" title="{{ course.course_title }}">{{ course.course_title }}</a>
                    </div><!-- .attr-course-name -->
                    <div class="col-xs-2 attr-course-enrolled">
                        {{ course.course_enrolled }}
                    </div><!-- .attr-course-enrolled -->
                    <div class="col-xs-2 attr-course-pending">
                        {{ course.course_pending }}
                    </div><!-- .attr-course-pending -->
                    <div class="col-xs-1 attr-course-remove">
                        <button type="submit" class="close" aria-label="Close" data-toggle="modal" data-target="#deleteCourseModal"><span aria-hidden="true">&times;</span></button>
                    </div><!-- .attr-course-remove -->
                </div><!-- .row -->
            </div><!-- .list-group-item .course -->
        {% endfor %}
        <div class="list-group-item course course-none">
            <div class="row">
                <div class="col-xs-2 attr-course-id"></div>
                <div class="col-xs-5 attr-course-name">
                    <span class="text-muted">You are not instructing any courses. <a href="#" data-toggle="modal" data-target="#createCourseModal">Create a new course</a></span>
                </div>
                <div class="col-xs-2 attr-course-enrolled"></div>
                <div class="col-xs-2 attr-course-pending"></div>
                <div class="col-xs-1 attr-course-remove hidden">
                    <button type="submit" class="close" aria-label="Close" data-toggle="modal" data-target="#deleteCourseModal"><span aria-hidden="true">&times;</span></button>
                </div>
            </div><!-- .row -->
        </div><!-- .list-group-item .course -->
    </div><!-- .list-group -->
</div><!-- .panel .panel-default -->

<div class="modal fade" id="createCourseModal" tabindex="-1" role="dialog" aria-labelledby="createCourseModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/courses">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Course</h4>
                </div><!-- .modal-header -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="course_title">Course Name</label>
                        <input name="course_title" type="text" class="form-control" placeholder="e.g. Data Structures" required>
                    </div><!-- .form-group -->
                    {% csrf_token %}
                    <input name="action" type="hidden" value="addCourse">
                    <input name="ajax" type="hidden">
                </div><!-- .modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-loading-text="Creating...">Create Course</button>
                </div><!-- .modal-footer -->
            </form>
        </div><!-- .modal-content -->
    </div><!-- .model-dialog -->
</div><!-- .modal -->

<div class="modal fade" id="deleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="deleteCourseModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/courses">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm Delete Course</h4>
                </div><!-- .modal-header -->
                <div class="modal-body">
                    <p><span class="course-title text-danger">This course</span> and all of its associated data will be permanently deleted. There is no way to undo this action.</p>
                    {% csrf_token %}
                    <input name="action" type="hidden" value="removeCourse">
                    <input name="course_id" type="hidden">
                    <input name="ajax" type="hidden">
                </div><!-- .modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" data-loading-text="Deleting...">Delete Course</button>
                </div><!-- .modal-footer -->
            </form>
        </div><!-- .modal-content -->
    </div><!-- .model-dialog -->
</div><!-- .modal -->

{% endblock %}
