* {
    -webkit-font-smoothing: antialiased;
}

body {
	padding-top: 70px;
}

.register-form .btn {
    display: inline-block;
}

.login-logo {
    font-size: 72px;
}

.login-tagline {
    font-weight: 300;
    margin-bottom: 50px;
}

.view-container-wrapper {
    position: relative;
}

.notifications-list {
    width: 400px;
}

.notifications-list a {
    white-space: normal !important;
}

.view-container {
    -webkit-transition: -webkit-transform .3s ease-in-out, opacity .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    margin: 0 -15px;
    opacity: 1;
}

.changing {
    position: absolute;
    top: 0;
    left: 15px;
}

.fading-left {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
}

.fading-right {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
}

.container {
    max-width: 970px;
}

.site-breadcrumb {
    background: 0;
    padding: 0;
    margin: 0;
}

.site-footer {
	padding: 50px 0;
}

.course-list .course:nth-of-type(2),
.submission-list .submission:nth-of-type(2) {
    border-top: 0;
}

.course-list #course-0,
.assignment-list #assignment-0,
.comment-list #comment-0,
.submission-list #submission-0 {
    display: none;
}

.course-list #course-0:only-of-type,
.assignment-list #assignment-0:only-of-type,
.submission-list #submission-0:only-of-type {
    display: block;
}

.course-list #course-0 .course-actions,
.assignment-list #assignment-0 .assignment-actions {
    display: none !important;
}

.course-list .course .fading-actions,
.assignment-list .assignment .fading-actions {
    visibility: hidden;
}

.course-list .course:hover .fading-actions,
.assignment-list .assignment:hover .fading-actions {
    visibility: visible;
}

.page-header .btn {
    margin-left: 10px;
}

.approve-student-form,
.unapprove-student-form {
    display: none;
}

.student-unapproved .approve-student-form {
    display: block;
}

.student-approved .unapprove-student-form {
    display: block;
}

.fading-actions .btn {
    margin-left: 5px;
}

.form-group .alert {
    margin-top: 10px;
}

.comment {
    margin-bottom: 15px;
}

.comment .close {
    margin-top: -2px;
}

.comment-timestamp {
    margin-left: 10px;
}

.comment-message {
    margin-top: 5px;
    overflow: hidden;
    clear: both;
}
