<div class="page-header clearfix">
    <h2 class="page-title">
        {% with breadcrumb|last as current_page %}
            {{ current_page.0 }}
        {% endwith %}
        {% if user.is_instructor %}
            <a href="{{ add_assignment_url }}" class="btn btn-success pull-right">Create Assignment</a>
        {% endif %}
    </h2>
</div>

{% if user.is_instructor or enrolled %}
    <div class="panel-assignments panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">Assignment Name</div>
                <div class="col-sm-3">Date Posted</div>
                <div class="col-sm-3">Date Due</div>
            </div>
        </div>

        <div class="assignment-list list-group">
            {% for assignment in assignments %}
                <div class="list-group-item assignment" id="assignment-{{ assignment.id }}">
                    <div class="row">
                        <div class="assignment-name col-sm-4">
                            <a href="{{ assignment.url }}" title="{{ assignment.title }}">{{ assignment.title }}</a>
                        </div><!-- .assignment-name -->
                        <div class="assignment-date-posted col-sm-3">
                            {{ assignment.date_posted }}
                        </div><!-- .assignment-date-posted -->
                        <div class="assignment-date-due col-sm-3">
                            {{ assignment.date_due }}
                        </div><!-- .assignment-date-due -->
                        <div class="assignment-actions col-sm-2">
                            <div class="fading-actions pull-right">
                                {% if user.is_instructor %}
                                    <a href="{{ assignment.edit_url }}" class="edit-url btn btn-default btn-xs fading-button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                {% endif %}
                            </div><!-- .fading-actions -->
                        </div><!-- .assignment-actions -->
                    </div>
                </div><!-- .assignment #assignment-{{ assignment.id }} -->
            {% empty %}
                <div class="assignment list-group-item" id="assignment-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="text-muted">There are no assignments for this course yet.</span>
                        </div>
                    </div>
                </div><!-- .assignment #assignment-0 -->
            {% endfor %}
        </div><!-- .assignment-list -->

    </div><!-- .panel-assignments -->

{% else %}

    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        You are currently pending approval to view assignments from the instructor for this course.
    </div>

{% endif %}
