<div class="page-header clearfix">
    <h2 class="page-title">
        {% with breadcrumb|last as current_page %}
            {{ current_page.0 }}
        {% endwith %}
    </h2>
</div>

<div class="row">
    <div class="col-sm-8">

        <div class="panel-description panel panel-default">
            <div class="panel-heading">Description {% if user.is_instructor %}<a href="{{ assignment_edit_url }}" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit</a>{% endif %}</div>
            <div class="panel-body">
                {% autoescape off %}
                    {{ assignment.description }}
                {% endautoescape %}
            </div>
        </div>

        <div class="panel-comments panel panel-default">
            <div class="panel-heading">Comments</div>
            <div class="panel-body comment-list">

                <div class="comment well" id="comment-0">
                    <div class="comment-header clearfix">
                        <div class="pull-left">
                            <strong class="comment-author">
                            </strong><!-- .comment-author -->
                            <span class="comment-timestamp text-muted">
                            </span><!-- .comment-timestamp -->
                        </div>
                        <form method="post" action="{{ assignment_url }}" class="delete-comment-form">
                            {% csrf_token %}
                            <input type="hidden" name="comment_id">
                            <button type="submit" class="close pull-right" name="delete_comment"><span aria-hidden="true">&times;</span></button>
                        </form><!-- .delete-comment-form -->
                    </div><!-- .comment-header -->
                    <div class="comment-message clearfix">
                        {{ comment.message }}
                    </div><!-- .comment-message -->
                </div><!-- .comment #comment-0 -->

                {% for comment in comments %}
                    <div class="comment well" id="comment-{{ comment.id }}">
                        <div class="comment-header clearfix">
                            {% if comment.can_edit %}
                                <form method="post" action="{{ assignment_url }}" class="delete-comment-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <button type="submit" class="close pull-right" name="delete_comment"><span aria-hidden="true">&times;</span></button>
                                </form><!-- .delete-comment-form -->
                            {% endif %}
                            <strong class="comment-author {{ comment.is_instructor|yesno:'text-primary,' }}">
                                {{ comment.author }}
                            </strong><!-- .comment-author -->
                            <span class="comment-timestamp text-muted">
                                {{ comment.timestamp }}
                            </span><!-- .comment-timestamp -->
                        </div><!-- .comment-header -->
                        <div class="comment-message clearfix">
                            {{ comment.message }}
                        </div><!-- .comment-message -->
                    </div><!-- .comment #comment-{{ comment.id }} -->
                {% endfor %}

                <form method="post" action="{{ assignment_url }}" class="comment-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="comment_message" class="form-control" cols="40" rows="6" placeholder="Post a comment on this assignment..."></textarea>
                    </div><!-- .form-group -->
                    <button type="submit" name="submit_comment" class="btn btn-success" data-loading-text="Posting...">Post Comment</button>
                </form>

            </div>
        </div><!-- .panel-comments -->

    </div>
    <div class="col-sm-4">

        <div class="panel-date-posted panel panel-default">
            <div class="panel-heading">Date Posted</div>
            <div class="panel-body">
                {{ assignment.date_posted }}
            </div>
        </div><!-- .panel-date-posted -->

        <div class="panel-date-due panel {{ assignment.past_deadline|yesno:'panel-danger,panel-success' }}">
            <div class="panel-heading">Date Due</div>
            <div class="panel-body">
                <span class="{{ assignment.past_deadline|yesno:'text-danger,text-success' }}">{{ assignment.date_due }}</span>
            </div>
        </div><!-- .panel-date-due -->

        <div class="panel-submissions panel panel-default">
            <div class="panel-heading">Submissions {% if not user.is_instructor %}<button data-toggle="modal" data-target=".modal-upload-submission" class="btn btn-xs btn-success pull-right"><span class="glyphicon glyphicon-open"></span> {{ has_submission|yesno:'Resubmit,Submit' }}</button>{% endif %}</div>
            <ul class="submission-list list-group">
                {% for submission in submissions %}
                    <li class="submission list-group-item" id="submission-{{ submission.id }}">
                        <a href="{{ submission.download_url }}" class="download-url btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-save"></span> Download</a>
                        <strong class="submission-author">{{ submission.author }}</strong><br>
                        <span class="submission-filename">{{ submission.filename }}</span><br>
                        <span class="submission-timestamp text-muted">{{ submission.timestamp }}</span>
                    </li><!-- .submission #submission-{{ submission.id }}-->
                {% empty %}
                    <li class="submission list-group-item" id="submission-0">
                        <span class="no-submission-message text-muted">There are no submissions yet.</span>
                        <a href="#" class="download-url btn btn-xs btn-default pull-right hidden"><span class="glyphicon glyphicon-save"></span> Download</a>
                        <strong class="submission-author"></strong><br>
                        <span class="submission-filename"></span><br>
                        <span class="submission-timestamp text-muted"></span>
                    </li>
                {% endfor %}
            </ul>
        </div><!-- .panel-submissions -->

    </div>
</div>

<div class="modal-upload-submission modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{{ upload_url }}" enctype="multipart/form-data" data-follow-up="{{ submit_url }}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Upload Submission</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="file">Submission File</label>
                        <input type="file" name="file" class="form-control">
                        <p class="help-block">Select the <code>.zip</code> containing your assignment submission files.</p>
                    </div><!-- .form-group -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-loading-text="Uploading...">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
