<div class="page-header clearfix">
    <h2 class="page-title">
        {% with breadcrumb|last as current_page %}
            {{ current_page.0 }}
        {% endwith %}
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".modal-add-course">Add Course</button>
    </h2>
</div>

<div class="panel-courses panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-2">ID</div>
            <div class="col-sm-5">Course Name</div>
        </div>
    </div>

    <div class="course-list list-group">
        <div class="course list-group-item" id="course-0">
            <div class="row">
                <div class="course-none-message col-sm-12">
                    <span class="text-muted">There are no courses yet.</span>
                </div><!-- .course-none-message -->
                <div class="course-id col-sm-2">
                </div><!-- .course-id -->
                <div class="course-name col-sm-5">
                </div><!-- .course-name -->
                <div class="course-actions col-sm-5">
                    <div class="static-actions pull-left">
                        <div class="btn-group">
                            {% if user.is_instructor %}
                                <a href="#" class="course-assignments-url btn btn-default btn-xs "><span class="glyphicon glyphicon-file"></span> Assignments <span class="badge">0</span></a>
                                <a href="#" class="course-students-url btn btn-default btn-xs "><span class="glyphicon glyphicon-user"></span> Students <span class="badge">0</span></a>
                            {% endif %}
                        </div>
                    </div><!-- .static-actions -->
                    <div class="fading-actions pull-right">
                        <button class="course-remove btn btn-danger btn-xs pull-right" data-toggle="modal" data-target=".modal-remove-course"><span class="glyphicon glyphicon-trash"></span> Remove</button>
                    </div><!-- .fading-actions -->
                </div><!-- .course-actions -->
            </div>
        </div><!-- .course #course-0 -->
        {% for course in courses %}
            <div class="course list-group-item" id="course-{{ course.id }}" data-action="{{ course.course_url }}">
                <div class="row">
                    <div class="course-id col-sm-2">
                        <div>{{ course.id }}</div>
                    </div><!-- .course-id -->
                    <div class="course-name col-sm-5">
                        <a href="{{ course.assignments_url }}" title="{{ course.title }}">{{ course.title }}</a>
                    </div><!-- .course-name -->
                    <div class="course-actions col-sm-5">
                        <div class="static-actions pull-left">
                            <div class="btn-group">
                                {% if course.is_enrolled %}
                                    <a href="{{ course.assignments_url }}" class="course-assignments-url btn btn-default btn-xs"><span class="glyphicon glyphicon-file"></span> Assignments <span class="badge">{{ course.assignment_count }}</span></a>
                                {% endif %}
                                {% if user.is_instructor %}
                                    <a href="{{ course.students_url }}" class="course-students-url btn btn-xs {{ course.has_pending_students|yesno:'btn-warning,btn-default' }}"><span class="glyphicon glyphicon-user"></span> Students <span class="badge">{{ course.student_count }}</span></a>
                                {% endif %}
                            </div>
                        </div><!-- .static-actions -->
                        <div class="fading-actions pull-right">
                            <button class="course-remove btn btn-danger btn-xs pull-right" data-toggle="modal" data-target=".modal-remove-course"><span class="glyphicon glyphicon-trash"></span> Remove</button>
                        </div><!-- .fading-actions -->
                    </div><!-- .course-actions -->
                </div>
            </div><!-- .course #course-{{ course.id }} -->
        {% endfor %}
    </div><!-- .course-list -->

</div><!-- .panel-courses -->

<div class="modal-add-course modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{{ courses_url }}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Add Course</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {% if user.is_instructor %}
                            <label for="course_title">Course Name</label>
                            <input name="course_title" type="text" class="form-control" placeholder="e.g. Data Structures">
                        {% else %}
                            <label for="course_id">Course ID</label>
                            <input name="course_id" type="text" class="form-control" placeholder="e.g. 92491067">
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-loading-text="Adding...">Add</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- .modal-add-course -->

<div class="modal-remove-course modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{{ courses_url }}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm Remove Course</h4>
                </div>
                <div class="modal-body">
                    <p>This will permanently discard all data associated with <span class="course-title text-danger">this course</span>.</p>
                    <input name="course_id" type="hidden" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" data-loading-text="Removing...">Remove</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- .modal-remove-course -->
