<form method="post" action="{{ assignment_edit_url }}" class="assignment_edit_form">

    <div class="page-header clearfix">
        <h2 class="page-title">
            {{ page_title }}
            <button type="submit" name="save" class="btn btn-success pull-right" data-loading-text="{{ assignment|yesno:'Saving...,Creating...' }}">{{ assignment|yesno:'Save Assignment,Create Assignment' }}</button>
            {% if assignment %}
                <button type="submit" name="remove" class="btn btn-danger pull-right" data-loading-text="Removing...">Remove</button>
            {% endif %}
            <a href="{{ assignments_url }}" class="btn btn-default pull-right">Cancel</a>
        </h2>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="assignment_description">Description</label>
                <textarea name="assignment_description" class="form-control" cols="40" rows="12">{{ assignment.description }}</textarea>
                <p class="help-block">The following tags are supported: <code>h1</code>, <code>h2</code>, <code>h3</code>, <code>h4</code>, <code>h5</code>, <code>h6</code>, <code>strong</code>, <code>em</code>, <code>p</code>, <code>ul</code>, <code>ol</code>, <code>li</code>, <code>br</code>, <code>a</code>, and <code>img</code>.</p>
            </div>
        </div>
        <div class="col-sm-6">
            {% csrf_token %}
            <div class="form-group">
                <label for="assignment_title">Title</label>
                <input type="text" name="assignment_title" class="form-control"value="{{ assignment.title }}">
            </div>
            <div class="form-group">
                <label for="assignment_due_date">Due Date</label>
                <input type="text" name="assignment_due_date" class="form-control datetimepicker" value="{{ assignment_due_date }}">
                <p class="help-block">Students will not be able to upload new submissions after this deadline.</p>
            </div>
        </div>
    </div><!-- .row -->

</form>
