<div class="container">
    <div class="row">
        <footer class="site-footer">
            <div class="col-md-6 clearfix">
                <small class="text-muted pull-left">&copy; 2015 <a href="/">Otto</a>.</small>
            </div>
            <div class="col-md-6 clearfix">
                <small class="text-muted pull-right">Project by Alex Pascal, Edward Misback, and Ben Pratt.</small>
            </div>
        </footer><!-- .site-footer -->
    </div><!-- .row -->
</div><!-- .container -->
