<li class="dropdown notifications-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Notifications <span class="badge">3</span> <span class="caret"></span></span>
    </a>
    <ul class="dropdown-menu notifications-list" role="menu">
        <li><a href="#"><span class="text-primary">Assignment 2</span> has been posted in <span class="text-primary">Data Structures</span>. &nbsp;<small class="text-muted">3h ago</small></a></li>
        <li><a href="#"><span class="text-primary">Edward Misback</span> has commented on <span class="text-primary">Assignment 1</span> in <span class="text-primary">Data Structures</span>. &nbsp;<small class="text-muted">5h ago</small></a></li>
        <li><a href="#"><span class="text-primary">Assignment 1</span> is due tomorrow. &nbsp;<small class="text-muted">6h ago</small></a></li>
        <li class="divider"></li>
        <li><a href="#">Clear all notifications</a></li>
    </ul>
</li>
