<li class="dropdown notifications-dropdown">
    <a href="#" class="non-ajax dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Notifications <span class="badge">{{ notifications|length }}</span> <span class="caret"></span></span>
    </a>
    <ul class="dropdown-menu notifications-list" role="menu">
        {% for notification in notifications %}
            <li class="notification"><a href="{{ notification.target_url }}">{{ notification.message }} &nbsp;<small class="text-muted">{{ notification.timestamp }}</small></a></li>
        {% empty %}
            <li class="notification no-notifications"><a href="#" class="non-ajax">There are no notifications at this time.</a></li>
        {% endfor %}
        <li class="divider"></li>
        <li><a href="/notifications/clear/" class="non-ajax clear-notifications">Clear all notifications</a></li>
    </ul>
</li>
